body {
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
}
.timer {
  position: absolute;
  top: 1.5rem;
  left: 20vw;
  width: 60vw;
  height: 1.5rem;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);
}
.score {
  position: absolute;
  right: 2rem;
  top: 1rem;
}
.gameField {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 3rem;
  display: flex;
}
.point{
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  margin: auto;
}
.info {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
  .info .card {
    margin: auto;
  }
  .info form {
    margin: 1rem 0;
  }
  .info a {
    margin: 1rem 0;
  }
.scorelist {
  border-left-style: solid;
  border-left-width: 1px;
}
  .scorelist .window {
    height: 20rem;
    width: 100%;
    overflow: scroll;
  }
    .scorelist .window .item {
      border-top-style: solid;
      border-top-color: black;
      border-top-width: 1px;
    }
      .scorelist .window .item p {
        padding: 1rem;
        margin: 0;
      }
