<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Point</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/stylesheets/game.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dynamics.js/1.1.5/dynamics.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="timer bg-primary" id="timer"></div>
    <div class="score" id="score">Your Score: 0XP</div>
    <div class="gameField">
      <div class="point bg-primary" onclick="move()" id="point"></div>
    </div>
    <div id="info" class="info">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title text-center">Game Over!</h1>
          <div class="d-flex">
            <div class="col-6 d-flex flex-column">
              <h5 id="time"></h5>
              <h5 id="clicks"></h1>
              <h5 id="scoreResult"></h1>
              <form class="">
                <input id="name" class="form-control form-control-lg" type="text" placeholder="Enter your name">
              </form>
              <a onclick="saveStats()" class="btn btn-primary text-white">Save stats</a>
              <a onclick="playAgain()" class="btn btn-primary text-white">Play Again</a>
              <a onclick="showTop()" class="btn btn-primary text-white">Show Top-10</a>
            </div>
            <div class="col-6 scorelist">
              <div class="window card">
                <table class="table">
                  <thead class="bg-primary text-white">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Score</th>
                    </tr>
                  </thead>
                  <tbody id="stats">
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/public/scripts/engine.js"></script>
  </body>
</html>
